
<div class="position-fixed bottom-0 end-0 p-4 d-flex gap-3">
    <a href="https://github.com/walkercyber" target="_blank" aria-label="GitHub" class="fs-1 text-white">
        <i class="bi bi-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/isabelladaood" target="_blank" aria-label="LinkedIn" class="fs-1 text-primary">
        <i class="bi bi-linkedin"></i>
    </a>

    <a href="mailto:isabelladaood@gmail.com" target="_blank" class="fs-1 text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="isabelladaood@gmail.com">
        <i class="bi bi-envelope"></i>
    </a>
</div>
