@page "/info"
<link rel="stylesheet" href="css/pages/info.css" />
<link rel="stylesheet" href="css/global.css" />


        <div class="container-fluid p-5 text-center mt-4">
            <img src="Images/profile-pic.jpg" alt="Isabella Daood" class="profile-pic">

            <h1 class="mt-5 text-center fs-1 fw-semibold text-white">Isabella Daood</h1>

            <div class="subtitle mt-4">DevOps</div>
            <p>
                Born in 1997 <br>
                In Gothenburg, Sweden.<br>
                I believe software development can be more innovative and impactful. <br>
                With a mission to push the boundaries of cloud technology and backend systems, <br>
                I am exploring new possibilities through development, architecture, and problem-solving. <br>
                Currently studying .NET Cloud Development at IT-Högskolan, refining my skills in<br>
                modern web, cloud, and system solutions.
            </p>
        </div>
<nav class="d-flex justify-content-center gap-4 mt-3 fs-1.2 text-uppercase">
    <a href="/skills" class="text-info text-decoration-none">Skills</a>
    <a href="/projects" class="text-info text-decoration-none">Projects</a>
    <a href="/contact" class="text-info text-decoration-none">Contact</a>
</nav>