@page "/info"
<link rel="stylesheet" href="css/pages/info.css" />
<link rel="stylesheet" href="css/global.css" />
<script src="js/theme.js"></script>


<div class="container">
        Born in 1997 <br>
        in Gothenburg, Sweden.<br>
        I believe software development can be<br>
        more innovative and impactful. With a <br>
        mission to push the boundaries of cloud<br>
        technology and backend systems, I am <br>
        exploring new possibilities trough<br>
        development, architecture, and problem-solving.<br>
        Currently studying .NET Cloud Development<br>
        at IT-Högskolan, refining my skills in<br>
        modern web, cloud, and system solutions.<br>
    </div>
