@page "/contact"

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/global.css" />

<div class="container-fluid p-5 text-center mt-4">
    <img src="Images/profile-pic.jpg" alt="Isabella Daood" class="profile-pic">

    <h1 class="mt-5 text-center fs-1 fw-semibold text-white">Isabella Daood</h1>

    <div class="subtitle mt-4">DevOps</div>
    <p style="font-size: 1.8rem;"> I'm always open to new opportunities and collaborations! Feel free to reach out via LinkedIn, Github or email me directly at Isabelladaood@gmail.com.<br> The icons down below will navigate you to my socials!</p>
<nav class="d-flex justify-content-center gap-4 mt-3 fs-1.2 text-uppercase">
    <a href="/skills" class="text-info text-decoration-none">Skills</a>
    <a href="/projects" class="text-info text-decoration-none">Projects</a>
    <a href="/info" class="text-info text-decoration-none">About me</a>
</nav>
    <SocialLinks />
</div>