@page "/contact"

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/global.css" />
<script src="js/theme.js"></script>


<div class="container">
    <h1>Contact</h1>
    <p style="font-size: 1.8rem;">Reach out to me trough my socials!</p>
    <SocialLinks />
</div>
